/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
  color: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ---------------------------------------------------------------------------- */
@font-face {
	font-family: Larsseit;
	font-display: swap;
	src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Larsseit;
	font-display: swap;
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Larsseit;
	font-display: swap;
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
/* -------------------------------------------------------- */
body {
  font-family: 'Larsseit';
}
body._lock{
    overflow: hidden;
} 
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
[class*="__container"] {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 15px;
}
[class*="__container-2"] {
    max-width: 1230px;
	margin: 0 auto;
	padding: 0px 15px;
}
main {
	flex: 1 1 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: rgba(244, 249, 226, 0.8);
}
/* --------------------------BEM blocks----------------------------------- */
.block-text{
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
}
.block-text_line-height{
    line-height: 34px;
}

.button {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 10px 30px;
    background-color: #F9B640;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
}
.button:hover {
    background-color: #fece7c;
}
.button_color-inherit {
    background-color: inherit;
    color: #F9B640;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
}
.button_color-inherit-blue{
    color: #62D0DF;
}
.button_color-inherit:hover{
    background-color: #fee4b8;
}
/* ------------------------header------------------------------- */

.header__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 27px 15px;
}
.header__logo {
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    color: #62D0DF;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
}
.menu__list li{
    position: relative;
    padding-bottom: 3px;
    font-size: 18px;
    line-height: 16px;
    color: #22356F;
    font-weight: 500;
    transition: color 0.3s ease 0s;
}
.menu__list li:hover{
    color: #4868c7;
}
.menu__list li::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    border-radius: 1px;
    height: 1.1px;
    background-color: #05b737;
    transition: width 0.3s ease 0s;
}
.menu__list li:hover:before{
    width: 100%;
}

.header__button {
}
.header__link {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    padding: 20px 30px;
    background-color: #62D0DF;
    border-radius: 50px;
    color: #fff;
    transition: background-color 0.3s ease 0s;
}
.header__link:hover{
    background-color: #9be5ef;
}
.icon-menu {
    display: none;
}

/* ----------------------------header-media------------------------------------------ */
@media (max-width: 767.98px) {
    .header__container{
        gap: 5px;
    }
    .menu__list {
        display: flex;
        gap: 20px;
    }
    .menu__list {
        display: flex;
        gap: 20px;
    }
    .header__logo{
        z-index: 5;
    }
    .header__button {
        display: flex;
        align-items: center;
        column-gap: 40px;
        z-index: 5;
    }
    .icon-menu {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    } 
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(0, 0, 0); 
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
    }
    .icon-menu::before{
        top: 0;
    }
    .icon-menu::after{
        bottom: 0;
    }
    .icon-menu span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .icon-menu._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .icon-menu._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .icon-menu._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(145, 192, 234, 0.8);
        padding: 160px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active{
        left: 0;
    }
    .menu__body::before{
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 4;
        width: 100%;
        height: 110px;
        background-color: #133ab1;
        transition: left 0.3s ease 0s;
    } 
    .menu__body._active::before{
        left: 0;
    }

    .menu__list{
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }
    .menu__list li{
        font-size: 25px;
    }
}
@media (max-width: 479.98px) {
    .header__button {
        column-gap: 20px;
    }
    .header__link{
        padding: 20px 10px;
    }
}
/* ---------------------------------------main------------------------------------------------ */
.page {
}
.helping {
 position: relative;
}
.helping::after{
    content: "";
	position: absolute;
    top: 0;
    right: 20%;
	width: 100vw;
	height: 100%;
    background-color: #F4F9E2;
}
.helping__container {
    position: relative;
    z-index: 10;
    display: flex;
    padding: 241px 15px 80px 15px;
}
.helping__content {
    flex: 0 1 43%;
    padding-right: 10px;
}
.content-helping {
}
.content-helping__logo-site {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
    font-weight: 500;
}
.content-helping__logo-site:not(:last-child){
    margin-bottom: 40px;
}

.content-helping__titel {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    font-weight: 700;
    color: #22356F;
}
.content-helping__titel:not(:last-child){
    margin-bottom: 77px;
}
.content-helping__text:not(:last-child) {
    margin-bottom: 70px;
}

.content-helping__button {
    display: flex;
    gap: 38px;
    align-items: center;
}
/* --------------------------------------- */
.helping__image {
    flex: 0 1 57%;
}
.helping__image img{
    position: absolute;
    z-index: 2;
    top: 8%;
    right: -25%;
    max-width: 100%;
}
.helping__image::before{
    position: absolute;
    z-index: 1;
    top: 0;
    right: -18%;
    width: 700px;
    height: 800px;
    content: '';
    display: block;
    background: url(../img/helping/image02.png)no-repeat;
}
/* media helping */
@media (max-width: 1439px) {
    .helping__container {
        display: flex;
        flex-direction: column;
        padding-top: 140px;
    }
    .helping::after{
        right: 0px;
    }
    .helping__image {
        flex: 0 1 100%;
        text-align: center;
    }
    .helping__content {
        flex: 0 1 100%;
    }
    .helping__content:not(:last-child){
        padding-bottom: 20px;
    }
    .helping__image::before{
        display: none;
    }
    .helping__image img{
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
    }
}
@media (max-width: 1087px) {
    .helping__container {
        padding-bottom: 40px;
    }
    .content-helping__titel:not(:last-child){
        margin-bottom: 40px;
    }
    .content-helping__text:not(:last-child) {
        margin-bottom: 40px;
    }
}
@media (max-width: 479.98px) {
    .content-helping__logo-site:not(:last-child){
        margin-bottom: 20px;
    }
    .content-helping__titel {
        font-size: 36px;
    }
    .content-helping__titel:not(:last-child){
        margin-bottom: 20px;
    }
    .content-helping__text:not(:last-child) {
        margin-bottom: 20px;
    }
    .content-helping__button {
        gap: 0px;
        justify-content: space-between;
    }
    .button {
        padding: 10px 10px;
    }
    .helping__container {
        padding-bottom: 30px;
    }
}
/* -------------------------------why-------------------------------------- */
.why {
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-color: #62D0DF;
    color: #fff;
}
.why__container {
    position: relative;
    display: flex;
}
.why__content {
    flex: 0 1 50%;
}
.content-why {
    padding: 150px 0 73px 0;
}
.content-why__titel {
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
}
.content-why__titel:not(:last-child){
    margin-bottom: 75px;
}
.content-why__text {
    font-size: 24px;
    line-height: 35px;
}

.why__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -10%;
    max-width: 525px;
}
.why__image img{
    max-width: 100%;
}

@media (max-width: 1087px) {
    .why{
        padding: 40px 0;
    }
    .why__container {
        flex-direction: column;
    }
    .why__content {
        flex: 0 1 100%;
        padding: 0;
    }
    .content-why__titel:not(:last-child) {
        margin-bottom: 40px;
    }
    .why__content:not(:last-child) {
        margin-bottom: 30px;
    }
    .why__image {
        max-width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        right: 0;
    }
    .why__image img{
        max-width: 100%;
        border-radius: 100% 0% 100% 0% / 45% 46% 54% 55%  ;
    }
}
@media (max-width: 767.98px) {
    .content-why__titel {
        margin-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .why {
        padding: 30px 0 ;
    }
    .content-why__titel:not(:last-child) {
        margin-bottom: 30px;
    }
}
/* -------------adout-------------------------------- */
.about {
    padding: 150px 0 35px 0;
}
.about__container {
    display: flex;
}

.about__categor {
    line-height: 34px;
    flex: 0 1 10%;
    padding-right: 10px;
    text-transform: uppercase;
}
.about__text {
    display: flex;
    justify-content: center;
    flex: 0 1 80%;
}
.about__text p{
    max-width: 580px;
    font-weight: 500;
}

.block-text {
}
.block-text_line-height {
}

@media (max-width: 1023.98px) {
    .about {
        padding: 35px 0;
    }
    .about__container {
        flex-direction: column;
        gap: 40px;
    }
    .about__categor {
        text-align: center;
        flex: 0 1 100%;
        padding-right: 0px;
    }
    .about__text {
        flex: 0 1 100%;
    }
    .about__text p{
        max-width: none;
    }
}
@media (max-width: 479.98px) {
    .about {
        padding: 30px 0;
    }
    .about__container {
        gap: 20px;
    }
}
/* -------------------------------CAN------------------------------ */
.can {
    padding: 35px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.can__titel {
    text-align: center;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
    text-transform: uppercase;
}

.can__body {
}
/* ------------------------------- */
.body-cards {
}
.body-cards__items {
    display: flex;
    flex-wrap: wrap;
}
.item{
    display: flex;
    flex: 1 1 360px;
    min-height: 360px;
    padding: 0 50px ;
    background-color: #62D0DF;
}
.item_color-1{
    background-color: #FFE2DE;
}
.item_color-2 {
    background-color: #C4E769;
}
.item_color-3 {
    background-color: #62D0DF;
}
.item_color-4 {
    background-color: #0052C1;
}
/* - */
.item_color-5{
    background-color: #22356F;
}
.item_color-6{
    background: url(../img/cards/image.jpg)no-repeat 0 0 / cover;
}
.item_color-7{
    background-color: #62D0DF;
}
.item_color-8{
    background-color: #DEE1FF;
}
.item_color-9{
    background-color: #8F00FF;
}
.item_width{
    flex: 1 1 480px;
    min-height: 480px;
    justify-content: flex-start;
}
.item__text {
    position: relative;
    padding: 90px 15px 15px 18px;
    flex: 1 1 100%;
    /*точка переноса */
    min-width: 350px;
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
}
.item__text_width{
    padding-left: 20px;
}
.item__text::after{
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.item__text::before{
    content: '';
    position: absolute;
    top: 97px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E9B730;
}
/* ------------------------------------------------ */
@media (max-width: 1439px) {
    .item{
        padding: 0 30px ;
    }
}

@media (max-width: 1023px) {
    .can{
        padding: 30px 0 40px 0;
    }
    .item{
        padding: 0 20px ;
    }
}
@media (max-width: 479.98px) {
    .can {
        padding: 30px 0;
    }
    .item_width{
        padding: 0 15px ;
        min-height: 360px;
    }
    .item__text{
        min-width: inherit;
        font-size: 24px;
    }
}
/* ----------------cards----------------------- */
.cards {
    padding: 60px 0px 35px 0px;
}
.cards__container {
    padding: 0;
}
@media (max-width: 1023px) {
    .cards{
        padding: 40px 0 30px 0;
    }
}
@media (max-width: 479.98px) {
    .cards{
        padding: 30px 0 30px 0;
    }
}
/* ---------------------plan----------------------------------------------- */
.plan {
    padding: 30px 0 70px 0;
}
.plan__items {
}
.items-plan {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 70px;
	row-gap: 60px;
}
.items-plan__item {
}
.item-plan {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.item-plan__titel {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
}
.item-plan__text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
}
@media (max-width: 1087px) {
    .plan {
        padding: 30px 0;
    }
}
@media (max-width: 991.98px) {
    .items-plan {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 767.98px) {
    .items-plan {
        gap: 30px;
	}
}
@media (max-width: 479.98px) {
    .items-plan {
        gap: 25px;
		grid-template-columns: repeat(1, 1fr);
    }
    .item-plan {
        gap: 20px;
    }
}
/* --------------------------should---------------------- */
.should {
    overflow: hidden;
}
.should__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.should__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -16.4%;
    max-width: 480px;
}
.should__image img{
    max-width: 100%;
}
.should__content {
    flex: 0 1 60%;
    padding: 100px 0 40px 0;
}
.content-body {
    display: flex;
    flex-direction: column;
}
.content-body__categor {
    line-height: 1;
    letter-spacing: 0.06em;
    color: #22356F;
    text-transform: uppercase;
}
.content-body__categor:not(:last-child) {
    margin-bottom: 220px;
}
.content-body__text {
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #22356F;
    font-weight: 500;
}
.content-body__text span{
    color: #62D0DF;
}
.content-body__text:not(:last-child){
    margin-bottom: 152px;
}
.button_color-inherit:not(:last-child) {
    margin-bottom: 20px;
}

@media (max-width: 1240px) {
    .content-body__categor:not(:last-child) {
        margin-bottom: 30px;
    }
    .content-body__text:not(:last-child) {
        margin-bottom: 52px;
    }
}
@media (max-width: 1087px) {
    .should{
        padding: 40px 0;
    }
    .should__content {
        flex: 0 1 100%;
        margin-bottom: 30px;
        padding: 0;
    }
    .should__image {
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;
        max-height: 600px;
        text-align: center;
    }
    .should__image img{
        border-radius: 20px;
    }
    .should__container{
        justify-content: start;
        flex-direction: column-reverse;
    }
    .content-body__categor {
        padding-top: 0px;
    }
}
 @media (max-width: 767.98px) {
    .content-body__text:not(:last-child) {
        margin-bottom: 30px;
    }
    }
    @media (max-width: 479.98px) {
        .should__image {
            max-height: 500px;
        }
        .should {
            padding: 30px 0;
        }
        .content-body__text {
            font-size: 32px;
        }
}
/* -------------------contact----------------------------------- */
.contact {
    overflow: hidden;
    background-color: #22356F;
}
.contact__container {
    position: relative;
    display: flex;
}
.contact__content {
    display: flex;
    flex-direction: column;
    padding: 50px 0 40px 0;
    flex: 0 1 50%;
}
.content-contact {
}
.content-contact__categor {
    padding-top: 50px;
    line-height: 1;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.content-contact__categor:not(:last-child) {
    margin-bottom: 228px;
}
.content-contact__titel {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
}
.content-contact__titel:not(:last-child) {
    margin-bottom: 75px;
}
.content-contact__text {
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.content-contact__text:not(:last-child){
    margin-bottom: 70px;  
}
.content-contact__action:not(:last-child){
    margin-bottom: 20px;
}

.contact__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -11.6%;
    max-width: 480px;
}
.contact__image img{
    max-width: 100%;
}
@media (max-width: 1240px) {
    .content-contact__categor:not(:last-child) {
        margin-bottom: 40px;
    }
    .content-contact__titel:not(:last-child) {
        margin-bottom: 40px;
    }
    .content-contact__text:not(:last-child){
        margin-bottom: 40px;  
    }
}
@media (max-width: 1087px) {
    .contact{
        padding: 40px 0;
    }
    .contact__content {
        padding: 0;
        margin-bottom: 40px;
    }
    .contact__container {
        flex-direction: column;
    }
    .contact__content {
        flex: 0 1 100%;
    }
     .content-contact__categor:not(:last-child) {
        padding-top: 0;
    }
    .contact__image {
        position: relative;
        top: 0;
        right: 0;
        max-width: 100%;
        text-align: center;
        max-height: 600px;
    }
    .contact__image img{
        border-radius: 20px;
    }
}
 @media (max-width: 767.98px) {
    .contact__content {
        margin-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .contact__image {
        max-height: 500px;
    }
    .contact{
        padding: 30px 0;
    }
    .content-contact__titel {
        font-size: 36px;
    }
}
/* ---------------------footer---------------------------- */
.footer {
}
.footer__container {
    padding: 0;
}
.footer__body {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.body-footer {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: -0.006em;
}
.body-footer__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -16.2%;
    max-width: 570px;
}
.body-footer__image img{
    max-width: 100%;
}
.body-footer__column {
    padding: 98px 0px 74px 0px;
    flex: 0 1 61%;
}
.column-body-footer {

}
.column-body-footer__items {
    display: flex;
    justify-content: space-around;
}
.column-body-footer__item {
    flex: 0 1 200px;
}
.item-column-footer {
    font-size: 14px;
    color: rgba(34, 53, 111, 0.5);
}
.item-column-footer__titel {
    line-height: 1.1;
    letter-spacing: -0.006em;
    color: #22356F;
    font-weight: 700;
}
.item-column-footer__titel:not(:last-child){
    margin-bottom: 45px;
}
.item-column-footer__text{
}
.item-column-footer__text a:hover{
    text-decoration: underline;
}
.item-column-footer__text:not(:last-child){
    margin-bottom: 25px;
}
.item-column-footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.item-column-footer__list li{
   
}
.item-column-footer__list li>a{
    color: #006DFF;
}
.item-column-footer__list li>a:hover{
    text-decoration: underline;
}
.footer__copy {
    background-color: #62D0DF;
}
.body-copy {
    padding: 32px 0;
    display: flex;
    align-items: center;
    gap: 6px;
}
.body-copy__symbol{
}
.body-copy__text {
    color: #fff;
    font-weight: 500;
}
@media (max-width: 1087px) {
    .footer__body {
        justify-content: center;
    }
    .footer__container{
        padding: 0 15px;
    }
    .body-footer{
        padding: 30px 0;
    }
    .footer__body {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .body-footer__image {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        text-align: center;
        border-radius: 50%;
    }
    .body-footer__column {
        padding: 0px;
        flex: 0 1 100%;
    }
    .column-body-footer__items {
        column-gap: 10px;
        row-gap: 30px;

    }
    .column-body-footer__item {
        text-align: center;
    }
}
 @media (max-width: 767.98px) {
    .column-body-footer__items{
        flex-direction: column;
        row-gap: 30px;
    }
    .item-column-footer__titel:not(:last-child){
        margin-bottom: 15px;
    }
    .column-body-footer__item {
       flex: 1 1 auto;
    }
    .item-column-footer__text:not(:last-child) {
        margin-bottom: 10px;
    }
 }