@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-instagram:before {
  content: "\e900";
}

._icon-linkedin:before {
  content: "\e901";
}

._icon-twitter:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-pinterest:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main-block {
  position: relative;
}

.main-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.main-block__image {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 21.875rem;
}

.main-block__image img {
  width: 100%;
}

.main-block__image:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main-block__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 5;
  height: 100vh;
  min-height: 43.75rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-block__title {
  line-height: 0.9111111111;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-block__text {
  text-align: center;
  line-height: 1.1666666667;
}

.main-block__form {
  min-height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
}

.main-block__form:not(:last-child) {
  margin-bottom: 3.125rem;
}

.main-block__form._error {
  -webkit-box-shadow: 0.625rem 0.625rem 0.3125rem #ff0000;
          box-shadow: 0.625rem 0.625rem 0.3125rem #ff0000;
}

.main-block__input {
  min-height: 3.75rem;
}

.main-block__button {
  font-weight: 500;
  font-size: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 3.75rem;
  width: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0044ff;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.main-block__socail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__link {
  font-size: 1.875rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.main-block__link_small {
  max-width: 2.5rem;
}

.main-block__link_small img {
  width: 100%;
}

@media (min-width: 75em) {
  .main-block__title {
    font-size: 3.875rem;
  }

  .main-block__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .main-block__text {
    font-size: 2.25rem;
  }

  .main-block__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 20em) {
  .main-block__title {
    font-size: 1.875rem;
  }

  .main-block__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main-block__text {
    font-size: 1.25rem;
  }

  .main-block__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 47.99875em) {
  .main-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-block__button {
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.875rem , 1.1477272727rem  +  3.6363636364vw , 3.875rem )) {
    .main-block__title {
      font-size: clamp( 1.875rem , 1.1477272727rem  +  3.6363636364vw , 3.875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.1477272727rem  +  3.6363636364vw , 3.875rem )) {
    .main-block__title {
      font-size: calc(1.875rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .main-block__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .main-block__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.25rem )) {
    .main-block__text {
      font-size: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.25rem )) {
    .main-block__text {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .main-block__text:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .main-block__text:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .main-block__button:hover {
    background-color: #4374fc;
  }

  .main-block__link:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }
}